.form-inputs.nested-fields
  = link_to_remove_association "Remove", f, data: {confirm: 'Are you sure?'}, class: ['btn', 'btn-danger', 'btn-xs']
  = f.input :example, hint: 'Pst! You can use Markdown'
