// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_entry, .edit_entry {
  .remove_fields {
    float: right;
  }
  label.required abbr {
    display: none;
  }
}

.entry {
  .votes {
    margin-top: 50px;
  }
}
.entries.show {
  .votes {
    margin-top: 20px;
  }
}



